@use 'variables';

html {
   color: variables.$text; 
}

body {
   font-family: variables.$body_font, sans-serif;
   font-size: 1.1em;
   padding: 0px; 
   margin: 0px; 
}

h1 {
   font-family: variables.$title_font, sans-serif; 
   color: variables.$text; 
   text-align: center; 
   margin-bottom: 20px; 
   margin-top: 20px; 
}

h2 {
   font-family: variables.$title_font, sans-serif; 
   font-size: 1.2rem;
   margin-top: 0.6em;
   margin-bottom: 0.6em;
}

button {
   background-color: variables.$background_2; 
   color: variables.$text; 
   border: none; 
   padding: 5px; 
}

button:hover {
   background-color: variables.$background_highlight_1; 
}

em {
  font-style: italic; 
}

/* Collapsible sections */

.subsection {
   background-image: url('icons/up_arrow.svg'); 
   background-repeat: no-repeat;
   background-position: right;
   vertical-align: middle;
}

.subsection--collapsed {
   background-image: url('icons/down_arrow.svg');
}

/* The center "ribbon" of content */

.midsection {
   width: 60%; 
   margin: auto;
   background: variables.$background; 
   border-radius: 10px; 
   padding: 23px; 
   padding-top: 8px;
   /* text-align: justify; */
}

/* Increase the margins for desktop */
@media only screen and (max-width: 1000px) {
   .midsection {
      width: 90%;
   }
}

.midsection > p {
   line-height: 1.3em; 
}

/* highlighted boxes for definitions, comprehension questions, and examples */

.definition, .compQ, .example {
   color: variables.$text;    
   display: block;
   box-shadow: 0px 1px 2px 0px variables.$definition_highlight;
   padding: 10px;
   border-radius: 5px; 
   margin-top: 8px; 
   margin-bottom: 8px; 
}

.compQ {
   box-shadow: 0px 1px 2px 0px variables.$comp_Q_background;
}

.example {
   box-shadow: 0px 1px 2px 0px variables.$example_background;
}

p.definition {
   text-indent: 0px;
}

ul.definition{
   list-style-type: none;
}

/* Equations might be standalone spans, or, if the entire definition or header or etc. is Tex, it might be appplied as a multiple class (as in : <span class="definition eqn">2D : \( d^2 := x^2 + y^2 \)</span> ).  Be wary of this overlap when applying eqn specific styles. */
.eqn {
   color: variables.$blue_1;  
}

.svg_wrapper {
   /* border: 2px solid green; */
   border: 2px solid variables.$definition_highlight; 
   width: 100%; 
   text-align: center; 
}

.center_quote {
   text-align: center;
   font-style: italic; 
}