/* COLORS */

/* Do not use these variables in other files.  Use them as values for the theme variables below. */

$grey: #f8f8f8;
$tan: #F8F4E3;
$cyan: #52FFEE; 
$greenish_black: #303633; 
$blue_1: #363946; 
$gold_1: #F09D51;
$black: #111; 
$light_grey: #818181; 
$lighter_grey: #f1f1f1; 
$maximum-green: #548c2fff;

/* Reference only these variables in other files; test themes by changing their assignments here. */

/* main theme */
$background: white;
$background_2: $tan; 
$background_highlight_1: $cyan;
$text: $greenish_black;
$text_highlight_1: $blue_1; 
$definition_highlight: $gold_1; 

/* alternate greys */
$alt_dark_grey: #445760; 
$alt_light_grey: #50626a;
$alt_white: #e7f5f5;

/* alternate greys */
$sidebar_text: $alt_white; 
$sidebar_background: $alt_dark_grey; 
$sidebar_text_hover: $gold_1; 

/* FONTS */

$body_font: "Computer Modern Bright"; 
$title_font: "Gentium";

@font-face {
   font-family: $title_font; 
   /* src: url("fonts/genbasb.ttf");  */
   src: url("https://room202math.github.io/styles/fonts/GenBasB.ttf");  
}

@font-face {
   font-family: $body_font; 
   /* multiple formats for browser compatibility */
   src: url("https://room202math.github.io/styles/fonts/cmbright/cmunbmr.woff") format('woff'), 
      url("https://room202math.github.io/styles/fonts/cmbright/cmunbmr.eot") format('eot'),
      url("https://room202math.github.io/styles/fonts/cmbright/cmunbmr.ttf") format('ttf'); 
}