@use '../variables'; 

/* Header */

.header {
   text-align: center;
   color: variables.$text_highlight_1; 
   height: 4rem;
   background-color: variables.$back_cyan; 
   padding: 0px; 
   margin: 0px; 
}

.header a {
   color: variables.$text_highlight_1; 
}

.header__navicon {
   width: 4rem;
   height: 4rem;
   position: absolute; 
   left: 10px; 
   top: 10px; 
   background-image: url(icons/nav2.svg); 
   background-repeat: no-repeat;
   background-position: center; 
   vertical-align: middle;
}

@media only screen and (max-width: 1000px) {
   .header__navicon{
      width: 100%;
      padding-bottom: 30px; 
   }
}

/* Sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
