/* COLORS */
/* Do not use these variables in other files.  Use them as values for the theme variables below. */
/* Reference only these variables in other files; test themes by changing their assignments here. */
/* main theme */
/* alternate greys */
/* alternate greys */
/* FONTS */
@font-face {
  font-family: "Gentium";
  /* src: url("fonts/genbasb.ttf");  */
  src: url("https://room202math.github.io/styles/fonts/GenBasB.ttf");
}
@font-face {
  font-family: "Computer Modern Bright";
  /* multiple formats for browser compatibility */
  src: url("https://room202math.github.io/styles/fonts/cmbright/cmunbmr.woff") format("woff"), url("https://room202math.github.io/styles/fonts/cmbright/cmunbmr.eot") format("eot"), url("https://room202math.github.io/styles/fonts/cmbright/cmunbmr.ttf") format("ttf");
}
html {
  color: #303633;
}

body {
  font-family: "Computer Modern Bright", sans-serif;
  font-size: 1.1em;
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 0px;
}

h1 {
  font-family: "Gentium", sans-serif;
  color: #303633;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  font-family: "Gentium", sans-serif;
  font-size: 1.2rem;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

button {
  background-color: #F8F4E3;
  color: #303633;
  border: none;
  padding: 5px;
}

button:hover {
  background-color: #52FFEE;
}

em {
  font-style: italic;
}

/* Collapsible sections */
.subsection {
  background-image: url("icons/up_arrow.svg");
  background-repeat: no-repeat;
  background-position: right;
  vertical-align: middle;
}

.subsection--collapsed {
  background-image: url("icons/down_arrow.svg");
}

/* The center "ribbon" of content */
.midsection {
  width: 60%;
  margin: auto;
  background: white;
  border-radius: 10px;
  padding: 23px;
  padding-top: 8px;
  /* text-align: justify; */
}

/* Increase the margins for desktop */
@media only screen and (max-width: 1000px) {
  .midsection {
    width: 90%;
  }
}
.midsection > p {
  line-height: 1.3em;
}

/* highlighted boxes for definitions, comprehension questions, and examples */
.definition, .compQ, .example {
  color: #303633;
  display: block;
  box-shadow: 0px 1px 2px 0px #F09D51;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.compQ {
  box-shadow: 0px 1px 2px 0px #52FFEE;
}

.example {
  box-shadow: 0px 1px 2px 0px #303633;
}

p.definition {
  text-indent: 0px;
}

ul.definition {
  list-style-type: none;
}

/* Equations might be standalone spans, or, if the entire definition or header or etc. is Tex, it might be appplied as a multiple class (as in : <span class="definition eqn">2D : \( d^2 := x^2 + y^2 \)</span> ).  Be wary of this overlap when applying eqn specific styles. */
.eqn {
  color: #363946;
}

.svg_wrapper {
  /* border: 2px solid green; */
  border: 2px solid #F09D51;
  width: 100%;
  text-align: center;
}

.center_quote {
  text-align: center;
  font-style: italic;
}

/* Header */
.header {
  text-align: center;
  color: #363946;
  background-color: #52FFEE;
  padding: 0px;
  margin: 0px;
}

.header a {
  color: #363946;
  text-decoration: none;
}

.header__navicon {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 10px;
  top: 10px;
  background-image: url(icons/nav2.svg);
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}

.pagetitle {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2.5rem;
}

@media only screen and (max-width: 1000px) {
  .header__navicon {
    position: static;
  }
}
/* Sidenav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #445760;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #e7f5f5;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #F09D51;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.figure {
  border: 1px solid #F09D51;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

@media only screen and (min-width: 1000px) {
  .figure {
    margin-left: -10%;
    margin-right: -10%;
  }
}
.figure__title {
  font-family: "Gentium", sans-serif;
  font-style: oblique;
  font-size: 1.1rem;
  margin-bottom: 5px;
  margin-top: 8px;
  margin-left: 8px;
  padding-bottom: 5px;
}

.figure__image * {
  /* border: 2px solid variables.$gold_1; */
}

@media only screen and (min-width: 1000px) {
  .figure__image2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 9px;
  }
}
.figure__label {
  font-style: oblique;
  padding-left: 10px;
  padding-right: 10px;
}

.button_label8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 2px;
  /* grid-template-rows: 1fr 1fr;  */
  grid-gap: 2px;
  grid-auto-height: minmax(10px, 15px);
}

.button_label12 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 2px;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2px;
}

.inline_figure {
  display: table;
  margin-top: 20px;
  float: right;
  margin-left: 20px;
}

.inline_figure__label {
  display: table-caption;
  caption-side: bottom;
  font-size: 0.9em;
  text-indent: 0px;
}

/* @use 'variables'; */
/* @use 'sitewide'; */
.mainwrapper {
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
}

.subwrapper {
  grid-column: 1/4;
}

@media only screen and (min-width: 1000px) {
  .subwrapper {
    grid-column: 2/3;
  }
}
.fullwidth {
  grid-column: 1/4;
}

/* @use 'variables'; */
/* @use 'sitewide'; */
.listitem {
  margin-bottom: 20px;
}

.pset li {
  margin-top: 12px;
}

.pset li li {
  margin-top: 5px;
}

/*# sourceMappingURL=all.css.map */
